@media only screen and (max-width: 600px) {
  * {
    font-family: 'Open Sans bold', sans-serif;
  }

  .desktop-container {
    display: none;
  }

  body {
    margin: 0;
  }

  .accordion {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    border-bottom: solid black 1px;
  }

  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
  }

  button.accordion.active::after {
    content: "\2796";
    color: rgb(0, 0, 0);
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    margin: 26px;
  }

  .tabs a {
    font-size: 40px;
  }

  .tabs p {
    font-size: 18px;
    margin: 0;
    padding-bottom: 18px;
  }

  .acc-tab {
    width: 80px;
  }

  a.acc-tab.active {
    text-decoration: none;
    border-bottom: 1px solid black;
    content: none;
  }
}

@media only screen and (min-width: 600px) {
  * {
    font-family: 'Open Sans bold', sans-serif;
    text-align: center;
  }

  .mobile-container {
    display: none;
  }

  .desktop-container {
    width: 800px;
    margin: auto;
  }

  .tab-links-div {
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;
  }

  .tab-link {
    padding: 6px 20px;
    color: black;
    font-size: 22px;
    background-color: white;
    border: 1px solid black;
    width: 180px;
  }

  .inner-tab-links-div {
    display: flex;
    justify-content: center;
  }

  .inner-tab-link {
    margin: 0 30px;
  }

  .inner-tab-links-div a {
    font-size: 50px;
  }

  .inner-tab-link p {
    margin: 0;
    font-size: 18px;
    padding-bottom: 18px;
  }
}
